.text {
    width: 400px;
    height: 46px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 13px;
    padding-left: 25px;
    margin-top: 10px;
    outline:none;
}
.input{
    
    height:100px;
}