.or {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
    color: #BABABA;
    margin-bottom: 20px;
  }
.or:before, .or:after{
    content: "";
    flex: 1 ;
    border-bottom: 2px solid #F5F5F5;
    margin: auto ;
    
  }
  .or:before {
    margin-right: 30px
  }
  .or:after {
    margin-left: 30px
  }